

<div>
  <p>{{ product.metafields.custom.stone_configuration.type.size}}</p>
</div>

<script>
  const allMetafields = {{ product.metafields | json }};
  console.log('All Product Metafields:', allMetafields);
</script>

{% schema %}
{
  "name": "t:names.custom_liquid",
  "tag": null,
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:settings.custom_liquid",
      "info": "t:info.custom_liquid"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_liquid",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}