

<div>
  <p>{{ product.metafields.custom.stone_configuration.value}}</p>
</div>

<script type="application/json" id="StoneConfigData">
  {{ product.metafields.custom.stone_configuration.value | json }}
</script>

<script>
  try {
    const dataElement = document.getElementById('StoneConfigData');
    const stoneMetaObject = JSON.parse(dataElement.textContent);

    console.log('Stone Configuration Metaobject:', stoneMetaObject);
  } catch (error) {
    console.error('Could not parse metaobject data:', error);
  }
</script>

{% schema %}
{
  "name": "t:names.custom_liquid",
  "tag": null,
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:settings.custom_liquid",
      "info": "t:info.custom_liquid"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_liquid",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}