<div class="delivery-date-container" style="text-align: center; padding: 10px;">
  <p class="delivery-text">
    Order now and get it by
    {%- assign three_weeks_in_seconds = 21 | times: 24 | times: 60 | times: 60 -%}
    {%- assign future_date = 'now' | plus: three_weeks_in_seconds -%}
    <strong>{{ future_date | date: "%d %b" }}</strong>
  </p>
</div>

{% schema %}
{
  "name": "Delivery Date",
  "settings": [
     {
      "type": "paragraph",
      "content": "This block shows a delivery date three weeks from the current date."
    }
  ],
  "presets": [
    {
      "name": "Delivery Date",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
