<price-breakdown  >
  <p>
    {{ product.selected_or_first_available_variant.sku}}
  </p>
</price-breakdown>

{% schema %}
{
  "name": "sku",
  "settings": [
     {
      "type": "paragraph",
      "content": "This block shows sku."
    }
  ],
  "presets": [
    {
      "name": "sku",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
