<div class="delivery-date-container" style="text-align: center; padding: 10px;">
  <p class="delivery-text">
    {{ product.variants.first.sku }}
  </p>
</div>

{% schema %}
{
  "name": "sku",
  "settings": [
     {
      "type": "paragraph",
      "content": "This block shows a delivery date three weeks from the current date."
    }
  ],
  "presets": [
    {
      "name": "sku",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
